/* Root */
:root {
    --color-main: blue;
    --color-secondary: #3a47d5;
    --color-accent: green;
    --color-soft-white: rgb(253, 253, 253);

    --circle-i-size: 80px;
    --circle-i-rad: 50%;
    --circle-i-bg: white;
    --circle-i-sdw: 2px 2px 4px lightgray;
    
    --circle-hdr-size: 1000px;
    --circle-hdr-rad: 50%;
    --circle-hdr-bg: white;
    --circle-hdr-sdw: 2px 2px 4px lightgray;
}

/* Page */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 253, 253);
}

/* Navigation */
.nav-menu {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px rgba(144, 144, 144, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

/* Header */
body header {
    height: 100vh;
}

header {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
    background: linear-gradient(white 0%, #00d2ff 40%, #3a47d5 100%);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
}

.header-cta {
    z-index: 5;
}

header .wrapper {
    position: absolute;
    bottom: 10%;
    right: 50%;
    z-index: 5;
}

header .mouse {
    display: block;
    width: 25px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    opacity: 0.5;
}

header .mouse-wheel {
    display: block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    animation: move-wheel 1.5s ease-in-out infinite;
}

.header-animated-bg .circle-hdr-bg {
    position: absolute;
    bottom: -200px;
    right: -100px;
    z-index: 1;
    width: 1000px;
    height: 1000px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.header-animated-bg img {
    position: absolute;
    bottom: 0;
    right: 100px;
    z-index: 3;
}

.circle-icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.header-animated-bg p:nth-child(3) {
    position: absolute;
    bottom: 650px;
    right: 700px;
    z-index: 2;
    animation: icon-flip 1.5s ease-in;
}

.header-animated-bg p:nth-child(4) {
    position: absolute;
    bottom: 100px;
    right: 170px;
    z-index: 2;
}

.header-animated-bg p:nth-child(5) {
    position: absolute;
    bottom: 300px;
    right: 650px;
    z-index: 4;
}

.header-animated-bg p:nth-child(6) {
    position: absolute;
    bottom: 350px;
    right: 150px;
    z-index: 4;
}

.header-animated-bg p:nth-child(8) {
    position: absolute;
    bottom: 170px;
    right: 750px;
    z-index: 2;
}

.header-animated-bg p:nth-child(9) {
    position: absolute;
    bottom: 730px;
    right: 130px;
    z-index: 2;
}

.header-animated-bg p:nth-child(10) {
    position: absolute;
    bottom: 550px;
    right: 70px;
    z-index: 2;
}

/* Cards */
.crd {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.22);
}

/* Badges */
.developer-clr {
    background-color: var(--color-main);
}

.web-clr {
    background-color: var(--color-secondary);
}

.eshop-clr {
    background-color: var(--color-secondary);
}

.app-clr {
    background-color: var(--color-accent);
}

.github-clr {
    background-color: var(--color-main);
}

/* Buttons */
.btn-outline-white {
    border-color: white;
    color: white;
    width: 50%;
}

.btn-outline-white:hover {
    border-color: white;
    background-color: white;
    color: black;
}

/*  Spacers and Dividers */
.spacer {
    height: 150px;
    background-color: rgb(253, 253, 253);
}

.spacer-footer {
    height: 250px;
    background-color: rgb(253, 253, 253);
}

.spacer-rights {
    height: 150px;
    background-color: rgb(253, 253, 253);
}

/* Typography */
.text-rights {
    opacity: .25;
}

.text-right {
    text-align: end;
}

/* Animations */
@keyframes icon-flip {
    0% {
        transform:
            scale(0.2) rotateY(120deg) translateY(-100px) translateX(-100px);
    }

    100% {
        transform:
            scale(1) rotateY(0deg) translateY(0) translateX(0);
    }
}

@keyframes move-wheel {
    0% {
        opacity: .5;
        transform: translateY(0rem);
    }

    100% {
        opacity: 0;
        transform: translateY(1.5rem);
    }
}

/* Scroll up*/
.scroll-up {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    z-index: 9999;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.scroll-up:hover {
    background-color: rgba(0,0,0,1);
    color: #fff;
}

/* Cookies */
#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    padding: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 -2px 10px rgba(144, 144, 144, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    z-index: 9998;
    transition: opacity .8s ease;
    cursor: default;
}

#consent-popup.hidden {
    visibility: hidden;
}

#accept {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 1px 1px 4px gray;
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin: 0 0.2rem;
    cursor: pointer;
}

#accept:hover {
    box-shadow: 0 0 0;
}

/* 404 Page not found */
#page-not-found {
    padding: 200px 0;
}