<div id="contact" class="container">
    <h5>Let's have a chat about your project!</h5>
    <form>
        <div class="mb-3">
            <label for="f-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="fName" name="f-name" placeholder="John">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="name@example.com">
        </div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="I have this idea of ..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send message <i
                class="fa-solid fa-paper-plane"></i></button>
    </form>
</div>