<div class="row">
    <div class="col-md-4 pb-5">
        <h4>Services</h4>
        <ul>
            <li>
                <span>Web Development</span>
            </li>
            <li>
                <span>Mobile App Development</span>
            </li>
            <li>
                <span>UX & UI Design</span>
            </li>
            <li>
                <span>Maintenance</span>
            </li>
        </ul>
    </div>
    <div class="col-md-4 pb-5">
        <h4>Legal</h4>
        <ul>
            <li><a href="/privacy-policy.html">Privacy Policy</a></li>
            <li><a href="/privacy-policy.html">Cookies</a></li>
        </ul>
        <p>I use optimized technology <br>and energy sources that are <br>environmentally friendly.</p>
    </div>
    <div class="col-md-4 pb-5">
        <h4>Contact</h4>
        <address>
            Based in London<br>
            Working globally<br><br>
            Remote and in-person <br>
            meetings are possible.
        </address>
    </div>
</div>