<!-- CTA -->
<div class="header-cta">
    <h1 class="text-white">Do you need a website <br>or a feature developed?</h1><br>
    <h4 class="text-white">Tell me about your idea</h4><br>
    <button type="button" class="btn btn-outline-primary btn-outline-white">Let's chat</button>
</div>
<!-- Scroll down animation -->
<div class="scroll-down">
    <span class="wrapper">
        <span class="mouse">
            <span class="mouse-wheel"></span>
        </span>
    </span>
</div>
<!-- Animated background -->
<div class="header-animated-bg">
    <img src="" width="800px" alt="Patrik Krizek Developer">
    <p class="circle-hdr-bg"></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-js-square"></i></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-html5"></i></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-css3-alt"></i></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-sass"></i></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-php"></i></p>
    <p class="circle-icon"><i class="fa-brands fa-2xl fa-bootstrap"></i></p>
    <p class="circle-icon"><i class="fa-solid fa-2xl fa-database"></i></p>
</div>