<div class="container-fluid">
    <a class="navbar-brand" href="https://patrikrizek.github.io/"><b>Patrik</b> Krizek</a>
    <!-- Links -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="/index.html#services">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/index.html#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/index.html#contact">Contact</a>
        </li>
    </ul>
    <!-- Social Media -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://github.com/Patrikrizek"><i class="fa-brands fa-github"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="https://www.linkedin.com/in/patrikrizek/"><i
                    class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="javascript:decryptEmail('cGF0cmlrcml6ZWtAZ21haWwuY29t');"><i class="fa-solid fa-at"></i></a>
        </li>
    </ul>
</div>