<h5 class="mb-4 text-center space-top">Check some of my lates projects below.</h5>

            <!-- Project Filter -->
            <div class="container-fluid d-flex justify-content-center pt-5 pb-5">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary active" data-switcher
                        data-tab="all">All</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="react-app">React App</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="codepen">CodePen</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="github">GitHub</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher data-tab="mobile-app">Mobile
                        App</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher data-tab="online-shop">Online
                        shop</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="website">Website</button>
                </div>
            </div>

            <div id="project-list" class="row"></div>
            <script src="/js/projectTemplate.js"></script>
            <script src="/js/filterCards.js"></script>