<h5 class="mb-4 text-center">Check some of my lates projects below.</h5>

            <!-- Project Filter -->
            <div class="container-fluid d-flex justify-content-center pt-5 pb-5">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary active" data-switcher
                        data-tab="all">All</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="codepen">Codepen</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="github">GitHub</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher data-tab="mobile-app">Mobile
                        App</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher data-tab="online-shop">Online
                        shop</button>
                    <button type="button" class="btn btn-outline-primary" data-switcher
                        data-tab="website">Website</button>
                </div>
            </div>

            <div class="row">
                <div class="col mb-4 d-flex align-items-stretch d-none" data-label="website">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-flypersonaltrainer-01.JPG" class="card-img-top"
                                alt="Website Fly Personal Trainer">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Fly Personal Trainer</a>
                            </h5>
                            <span class="badge web-clr mb-2">#website</span>
                            <p class="card-text">The best choice for your personal training. I enjoy training others at
                                any level and endeavour to push them to their full potential with support and guidance.
                            </p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML, PHP, MySQL</i></p>
                            <a href="https://www.flypersonaltrainer.com/" target="_blank" class="card-link">Find
                                more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch d-none" data-label="website">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-music-slot-online-01.JPG" class="card-img-top" class="card-img-top"
                                alt="Website Music Slot Online">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Music Slot Online</h5>
                            <span class="badge web-clr mb-2">#website</span>
                            <p class="card-text">Music Slot Online is an online music school that allows you to learn to
                                play the piano from the comfort of your home - from your laptop, iPad or phone. We have
                                created Music Slot Online to make music lessons accessible to anyone in the world,
                                anywhere. It doesn't matter where you live, you can have lessons with the top teachers
                                in the world!
                            </p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML</i></p>
                            <a href="http://www.musicslotonline.com/" target="_blank" class="card-link">Find more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="website">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-blankasklibova-painter-01.JPG" class="card-img-top"
                                class="card-img-top" alt="Website Painter Blanka Sklibova">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Painter Blanka Sklibova</h5>
                            <span class="badge web-clr mb-2">#website</span>
                            <p class="card-text">Do you wish to give a gift that will bring joy, will last throughout
                                generations and the value of the painting will rise with time? Let me paint a portrait
                                of you or still live according to your wishes. Whether you want a portrait or still
                                life, or another theme you choose, do not hesitate to contact me or to arrange an
                                appointment in my studio.</p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML, PHP, MySQL</i></p>
                            <a href="https://blankasklibova.cz/en/painter-blanka-sklibova/" target="_blank"
                                class="card-link">Find
                                more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="website">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-all-in-equilibrium-01.JPG" class="card-img-top" class="card-img-top"
                                alt="Website all in equilibrium theater Vienna">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">all in equilibrium theater Vienna</h5>
                            <span class="badge web-clr mb-2">#website</span>
                            <p class="card-text">We play theatre, not necessarily literature in costume, but original
                                and up-to-date. You have to keep in balance, you have to be in motion, and that does not
                                only apply to physics. We play theatre and achieve the balancing act between
                                craftsmanship and imagination.</p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML, PHP, MySQL</i></p>
                            <a href="https://www.allinequilibrium-theater.com/en/all-in-equilibrium-2/" target="_blank"
                                class="card-link">Find more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="online-shop">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-duoadverso-01.JPG" class="card-img-top" class="card-img-top"
                                alt="Online Shop">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Duo Adverso</h5>
                            <span class="badge eshop-clr mb-2">#online-shop</span>
                            <p class="card-text">Wants to make something original and authentic that makes you feel
                                special and valued and helps you to express yourself without any fear or shame, this is
                                why their artworks are handmade, which means that every piece they design is unique,
                                just like you.</p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML, PHP, MySQL</i></p>
                            <a href="https://www.duoadverso.com/" target="_blank" class="card-link">Find more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="mobile-app">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/app-nulbar-01.jpg" class="card-img-top" class="card-img-top"
                                alt="Mobile App NulBar">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">NulBar</h5>
                            <span class="badge app-clr mb-2">#mobile-app</span>
                            <p class="card-text">Changing the way how we (drink) think. A bar concept challenging the
                                view that good beers need alcohol, providing good quality, tasty, non-alcoholic beers ti
                                a bar near you!</p>
                            <p class="text-secondary font-weight-lighter"><i>Java, XML</i></p>
                            <a href="https://play.google.com/store/apps/details?id=com.patrikrizek.nulbar&gl=US"
                                target="_blank" class="card-link">Find more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="mobile-app">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/app-singletracker-01.jpg" class="card-img-top" class="card-img-top"
                                alt="Mobile App SingleTracker">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Mountainbike United&trade;</h5>
                            <span class="badge app-clr mb-2">#mobile-app</span>
                            <p class="card-text">Join Mountainbike United&trade; the new Singletracker&trade; and the
                                only 100% mountainbike community that return 20% of your monthly membership to the
                                trails we love. We say that giving back to the trails = way better trails in a much
                                better community spirit. Support the trail builders with knowledge and tools.</p>
                            <p class="text-secondary font-weight-lighter"><i>Java, XML</i></p>
                            <a href="https://play.google.com/store/apps/details?id=com.motinno.singletracker&gl=US"
                                target="_blank" class="card-link">Find more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="github">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/web-maiona-web-01.JPG" class="card-img-top" class="card-img-top"
                                alt="GitHub Repository Maiona e-learning platform">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Maiona</h5>
                            <span class="badge github-clr mb-2">#github</span>
                            <p class="card-text">E-learning platform for Maiona Coding Ltd based in London.</p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML</i></p>
                            <a href="https://github.com/Patrikrizek/maionacoding" target="_blank" class="card-link">Find
                                more</a>
                        </div>
                    </div>
                </div>

                <div class="col mb-4 d-flex align-items-stretch" data-label="codepen">
                    <div class="card crd" style="width: 18rem;">
                        <picture>
                            <img src="/media/codepen-magic-8-ball.JPG" class="card-img-top" class="card-img-top"
                                alt="Codepen Challenge Magic 8 ball">
                        </picture>
                        <div class="card-body">
                            <h5 class="card-title">Magic 8 ball</h5>
                            <span class="badge github-clr mb-2">#CodePenChallenge</span>
                            <p class="card-text">I was inspired by #CodePenChallenge: Dominoes & Dice. I started to
                                think about where are dices used and if are just in games? Then I quickly realised there
                                is this iconic Magic 8 ball containing 20-sided dice for telling the future. Check the
                                result. I hope you will like it.</p>
                            <p class="text-secondary font-weight-lighter"><i>JavaScript, CSS, HTML</i></p>
                            <a href="https://codepen.io/patrikrizek/pen/KKoNmjv" target="_blank" class="card-link">Find
                                more</a>
                        </div>
                    </div>
                </div>
            </div>