<div class="row justify-content-between flex-column-reverse flex-md-row align-items-center">
    <div class="col-md-5">
        <section>
            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-code"></i> Front-End development</h5>
                    <p class="card-text">Clean and smooth code is one of my priorities.</p>
                </div>
            </div>

            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-database"></i> Back-End development</h5>
                    <p class="card-text">Dynamic websites and e-learning platform and maintenance.</p>
                </div>
            </div>

            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bezier-curve"></i> Design</h5>
                    <p class="card-text">Create niche web and app designs tailored to clients.</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Introduction -->
    <div class="col-md-5 mb-4">
        <section>
            <h3>Hi! I'm Patrik Krizek.</h3>
            <h5>Developer</h5>
            <p>I am an experienced Web Developer and Designer who works as a freelancer as well as part of a team. I have got a lot of experience in the field of design, but in 2019 my focus shifted toward website design and website development and since 2022 I have started to mainly use React. I have worked on various projects for established companies and private clients. I have got work experience in the UK, Denmark, Spain, Turkey, Austria and The Czech Republic.</p>
        </section>
    </div>
</div>