<div class="row justify-content-between flex-column-reverse flex-md-row align-items-center">
    <div class="col-md-5">
        <section>
            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-code"></i> Front-End development</h5>
                    <p class="card-text">Clean and smooth code is one of my priorities.</p>
                </div>
            </div>

            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-database"></i> Back-End development</h5>
                    <p class="card-text">Dynamic websites and e-learning platform and maintenance.</p>
                </div>
            </div>

            <div class="card mb-4 w-100 crd" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-bezier-curve"></i> Design</h5>
                    <p class="card-text">Create niche web and app designs tailored to clients.</p>
                </div>
            </div>
        </section>
    </div>

    <!-- Introduction -->
    <div class="col-md-5 mb-4">
        <section>
            <h3>Hi! I'm Patrik Krizek.</h3>
            <h5>Developer &amp; Designer</h5>
            <p>I have worked on various projects for established companies and private clients. I have
                worked in the
                field of corporate branding design and website & mobile app development. I have been
                involved in the
                design of websites, various brands, branding for town identities, newsletters for local
                small
                businesses including mobile app functionality.</p>
        </section>
    </div>
</div>